body {
    background: #e0ebe8;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    min-height: 30px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background: linear-gradient(35deg, #FFFFFF, #000000);
    justify-content: space-between;
    box-shadow: 2px 2px 5px;
    z-index: 2;
  
  
}
#header-img{
    width: 120px;
    height: auto;
    border-radius: 80%;
    margin: 0;
}
header #nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
a:hover {
  transform: scale(1.1);
  transition: 300ms ease-out;
  transform: skewX(-10deg);
}
header .nav-link {
  margin-right: 25px;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
#features {
  margin-top: 170px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  
  #video {
    max-width: 560px;
    width: 100%;
    
  }
}


#purchasing-options {
  display: flex;
  flex-direction: row;
  align-self: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 170px;
  padding-top: 100px;
  margin-bottom: 420px;
  
  
}

#two {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 12%;
  box-shadow: 2px 2px 5px;
  padding: 45px;
  text-align: center;
  background: white;
  
}
#two:hover {
  cursor:pointer;
  transform: scale(1.1);
  transition: 200ms ease-in;
}
#stinger {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 12%;
  box-shadow: 2px 2px 5px;
  padding: 45px;
  background: white;
}
#stinger:hover {
  cursor:pointer;
  transform: scale(1.1);
  transition: 200ms ease-in;
}
#revolver {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 12%;
  box-shadow: 2px 2px 5px;
  padding: 45px;
  background: white;
}
#revolver:hover {
  cursor:pointer;
  transform: scale(1.1);
  transition: 200ms ease-in;
}
#cloud-2 {
  height: auto;
  width: 150px;
}
#cloud-stinger {
  height: auto;
  width: 150px;
}
#cloud-revolver {
  height: auto;
  width: 150px;
}

#keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url('https://media.kingston.com/hyperx/category/hx-family-keyboard-alloy-core-rgb-us-lg.jpg');
  height: 600px;
  color: white;
  width: 100%;
  outline: 8px solid white;
}
#keyboard-title {
  font-family: 'Coiny', cursive;
  font-size: 35px;
  height: 20px;
}
#keyboard p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
  width: 380px;
  text-align: center;
}
#keyboard-button {
  width: 180px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to top, #5ea9ff, #ddedff)
}
#keyboard-button:hover {
  cursor: pointer;
  background: #3d98ff;
}
#mice {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url('https://media.kingston.com/hyperx/key-features/hx-keyfeatures-mice-pulsefire-fps-pro-3-md.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  width: 100%;
  outline: 8px solid white;
}
#mice-title {
  font-family: 'Coiny', cursive;
  font-size: 35px;
  height: 20px;
}
#mice p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
  width: 380px;
  text-align: center;
}
#mice-button {
  width: 180px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to top, #5ea9ff, #ddedff)
}
#mice-button:hover {
  cursor: pointer;
  background: #3d98ff;
}
#mousepad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url('https://prosettings.net/wp-content/uploads/2018/10/hyperxcover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  width: 100%;
  outline: 8px solid white;
}
@media (max-width: 950px){
  #other-products {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
#mousepad-title {
  font-family: 'Coiny', cursive;
  font-size: 35px;
  height: 20px;
  flex-wrap: wrap;
}
#mousepad p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
  width: 380px;
  text-align: center;
  flex-wrap: wrap;
}
#mousepad-button {
  width: 180px;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  flex-wrap: wrap;
  background: linear-gradient(to top, #5ea9ff, #ddedff)
}
#mousepad-button:hover {
  cursor: pointer;
  background: #3d98ff;
}
#email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 220px;
  margin-bottom: 60px;
}
.email-child {
  width: 30%;
  text-align: center;
  padding-bottom: 40px;
  
  
}
#submit {
  margin-top: 20px;
  padding: 10px;
font-family: 'Bitter', serif;
  font-size: 18px;
  cursor: pointer;
}
#email {
  width: 50%;
  height: 25px;
}
@media (max-width: 1000px) {
  #keyboard {
    align-self: flex-start;
  }
}
